<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/style.css">
  <link rel="stylesheet" href="/normalize.css" />
  <link rel="stylesheet" href="/skeleton.css" />
  <title>Document</title>
</head>
<body>
  <h1>Budgtr ALL</h1>
  <div class="container">
    <table style="text-transform: capitalize;">
      <tr>
              <% for(let i = 0; i < allBudgets.length; i++) { %>
                <a href="/budgets/<%= i %>">
                    <%= allBudgets[i].name %>
                </a>
                <td>
                  <a href="/budgets/<%= i %>">
                    <%= allBudgets[i].date %>
                  </a>
                </td>
            </tr>
            
        <% } %>
    </table>
  </div>
</body>
</html>